<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="cancel()">
        &times;
</button>     
    <h4 class="modal-title" ng-bind="title">Title</h4>
</div>
<div class="modal-body col-md-12">
    <div class="col-md-12 text-center">
        <div class="form-group">
            <label class="control-label" ng-bind="description">Input name</label>
            <input type="text" class="form-control" ng-model="value">
        </div>                             
    </div>
</div>
<div class="modal-footer q-centr">
    <button type="button" class="btn q-button-cancel" ng-click="cancel()" ng-bind="cancelLabel">Cancel</button>
    <button type="button" class="btn q-button" ng-click="ok()" ng-bind="acceptLabel">OK</button>
</div>

